<launch>
    <!-- First ESP on port 11411 -->
    <node name="serial_node_11411" pkg="rosserial_python" type="serial_node.py" output="screen" args="tcp 11411" />

    <!-- Second ESP on port 11412 -->
    <node name="serial_node_11412" pkg="rosserial_python" type="serial_node.py" output="screen" args="tcp 11412" />
</launch>
